.events-container{
    background-color: grey;
    width: 60%;
    justify-self: center;
    overflow-y: auto;
    max-height: 500px;
}
.event-item{
    display: flex;
    background-color: white;
    margin-bottom: 3px;
    justify-content: space-between;
}
.event-item > p{
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    text-align: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid gray;
    width: 60%;
}
.event-title{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.dashboard-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.add-event{
    padding: 20px;
}
