<app-layout [title]="'Login'">
    <div class="login-container">
        <form class="form-container" (ngSubmit)="login()">
            <label class="register-label" for="username">Username</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" />
    
            <label class="register-label" for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" />

            <button type="submit">Log In</button>
          </form>
          <p [(ngModel)]="error" class="error">{{error}}</p>
    </div>
</app-layout>