<div class="calendar-container">
    <div class="calendar">
      <div class="calendar-headline">
        <div class="calendar-headline-month">
            {{ firstDayOfActiveMonth().monthShort }}, {{ firstDayOfActiveMonth().year }}
        </div>
        <div class="calendar-headline-controls">
            <div class="calendar-headline-control" (click)="goToPreviousMonth()">«</div>
            <div class="calendar-headline-control calendar-headline-control-today" (click)="goToToday()">
                Today
            </div>
            <div class="calendar-headline-control" (click)="goToNextMonth()">»</div>
        </div>
      </div>
      <div class="calendar-weeks-grid">
        <div class="calendar-weeks-grid-cell" *ngFor="let weekDay of weekDays()">
            {{ weekDay }}
        </div>
      </div>
      <div class="calendar-grid">
        <div class="calendar-grid-cell" *ngFor="let dayOfMonth of daysOfMonth()">
            <div>
                {{ dayOfMonth.day }}
            </div>
        </div>
      </div>
    </div>
  </div>